<div class="Wrapper">
    <!-- Users -->
    <div class="Dashboard">
        <div class="ItemWrapper">
            <span class="Icon C1">

                <i class="fa fa-home"></i>

            </span>
            <div class="TextToIcon">
                <ul>

                    <li class="C1t"><strong id="SummaryProjectCount">Dashboard</strong></li>
                    <li>Project</li>

                </ul>
            </div>
        </div>
    </div>

    <!-- Users -->
    <div class="ProjectShowUsers">
        <div class="ItemWrapper">
            <span class="Icon C2">

                <i class="fa fa-users"></i>

            </span>
            <div class="TextToIcon">
                <ul>

                    <li class="C2t"><strong id="SummaryProjectCount">Users</strong></li>
                    <li>Project</li>

                </ul>
            </div>
        </div>
    </div>

    <!-- Assign user -->
    <div class="ProjectAddUser">
        <div class="ItemWrapper">
            <span class="Icon C3">

                <i class="fa fa-user-plus"></i>

            </span>
            <div class="TextToIcon">
                <ul>

                    <li class="C3t"><strong id="SummaryProjectCount">AddUser</strong></li>
                    <li>Project</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Tasks -->
    <div class="ShowProjectTasks">
        <div class="ItemWrapper">
            <span class="Icon C4">

                <i class="fa fa-tasks"></i>

            </span>
            <div class="TextToIcon">
                <ul>

                    <li class="C4t"><strong id="SummaryProjectCount">Tasks</strong></li>
                    <li>Project</li>
                </ul>
            </div>
        </div>
    </div>

    <!--  Statistic -->
    <div class="ShowProjectStatistic">
        <div class="ItemWrapper">
            <span class="Icon C6">

                <i class="fa fa-pie-chart"></i>

            </span>
            <div class="TextToIcon">
                <ul>

                    <li class="C6t"><strong id="SummaryProjectCount">Statistic</strong></li>
                    <li>Project</li>

                </ul>
            </div>
        </div>
    </div>
    <!-- Config -->
    <div class="">
        <div class="ItemWrapper">
            <span class="Icon C5">

                <i class="fa fa-cog"></i>

            </span>
            <div class="TextToIcon">
                <ul>

                    <li class="C5t"><strong id="SummaryProjectCount">Settings</strong></li>
                    <li>Project</li>

                </ul>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/WorkSpace/NavbarsControllers/ProjectNavController.js")"></script>