@using TImeDesk.ViewModel
@model ProjectWorkspaceDetailViewModel

<div class="Header" data-id="@Model.Project.Id" id="ProjectIdHolder">
    <div class="Title">@Model.Project.Name</div>
   
</div>
<div class="Body">
    

</div>

<script type="text/javascript">

  
</script>