<h2>Help</h2>
<p>Aplikace slouží k měření času, sdružování lidí a jejich řízení na společných projektech. Zde si můžete přečíst krátký popis o možnostech.</p>
<h3>Komponenty v kostce</h3>

<ul>
    <li><strong>Timer: </strong>Slouží k zaznamenávání času</li>
    <ul>
        <li><strong>Manuální: </strong>Uživatel zadá rozsah času, pomocí datepickeru</li>
        <li><strong>Automatický: </strong>Stačí zapnout a automaticky měří</li>
        <li><strong>Úprava: </strong>Záznamy mohou být upraveny, během měření času a nebo již na dokončených záznamech</li>

    </ul>
    <li><strong>Dashboard: </strong>Detailní přehled a grafy, které se skládají z časových záznamů</li>
    <ul>
        <li><strong>V liště: </strong>Základní grafický výpis</li>
        <li><strong>Ve worskpace: </strong>Detailnější výpis, umožňuje vybrat konkrétního uživatele a i projekt (+ vypíše jako tasky)</li>
    </ul>
    <li><strong>ToDoList: </strong>Barevné poznámky</li>
    <ul>
        <li><strong>Soukromý workspace </strong>Zde jsou pouze soukromé poznámky</li>
        <li><strong>Jiný workspace: </strong>Nabízí jak soukromé poznámky, tak i veřejné (sdílené pro všechy)</li>
    </ul>
    <li><strong>Projekt: </strong>Vytvoření projektu, pro který se pak může měřit čas</li>
    <ul>
        <li><strong>Soukromý workspace </strong>Základní tvorba</li>
        <li><strong>Ve workspace: </strong>Rozšířená tvorba (budget, deadline, ...)</li>
    </ul>
    <li><strong>Task: </strong>Task je podúkol projektu</li>
    <li><strong>Billings: </strong>Hodinová mzda, počítá se peníze/h, mnoho kurzů, vše je převáděno do zvolené měny v profilu nebo workspace, data jsou aktuální z CNB</li>
    <ul>
        <li><strong>Správa</strong>Po vytvoření si ji uživatel může automaticky nastavit na záznam, we Workspace se dále dá regulovat, který uživatel bude moci použít jakou hodinovou sazbu</li>
    </ul>
    <li><strong>Clienti & Tagy</strong> V projektu jsou implementovány, ale zatím nenesou žádný význam</li>
    <li><strong>Profil</strong> Zde se dá nastavit měna, odhlásit se a podívat se na své ID (pomocí něj může být uživatel pozván do Workspace)</li>
</ul>
<h4>Workspace</h4>
<ul>
    <li>Workspace, neboli firma, každý uživatel má svou soukromou, kam nemůže nikoho pozvat</li>
    <li>Uživatel si může vytvořit a nebo se přidat do dalších Workspace</li>
    <ul>
        <li><strong>Práva: </strong>Tvůrce má automaicky všechny práva a nově pozvaný uživatel nemá žádné. Práva mohou být nastavena v <strong>ROLES</strong></li>
    </ul>
    <ul>
        <li><strong>Profil: </strong>U výpis lidí ve Workspace se dá jít do profilu a nasavit jim jaké hodinové ohodnocení mohou používat. Nebo je vyhodit.</li>
    </ul>
    <ul>
        <li><strong>Settings: </strong>Nastavení měny a mazání workspace</li>
    </ul>
    <ul>
        <li><strong>Projekt: </strong>Po rozkliknutí detailu (<strong>Lupa</strong>), můžeme na projekt přidávat uživatele (pouze přidaným se projekt zobrazí k zápisu času), dále se podívat na jeho statistiku (rozpočet, deadline, ..) a sledovat jeho pod úkoly.</li>
    </ul>
</ul>
<h5>Bez funkcionality</h5>
<ul>
    <li>Workspace - Budget, nastavuje se přes Sidebar</li>
    <li>Workspace - Project - Settings (Není třeba)</li>
</ul>
<h6>Co dál?</h6>
<ul>
    <li>Projekt je nyní předěláván, kompletní přestylování a optimalizace</li>
 
</ul>