.top-content {
  background: url('../Images/Homepage/MainBg.jpg');
  background-size: 100% 800px;
  background-repeat: no-repeat;
  background-color: darkgray;
  width: 100%;
  height: 800px;
}
.top-content .navbar-inverse {
  height: 80px;
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.top-content .navbar-inverse .navbar-nav li a {
  font-size: 1.2em;
  line-height: 50px;
  color: white;
}
.top-content .navbar-inverse .navbar-nav li :hover {
  color: #00a8a8;
}
.top-content .navbar-inverse .navbar-brand {
  font-size: 3em;
  line-height: 50px;
  color: #006969;
}
.Quote {
  position: relative;
  color: white;
  font-size: 1em;
  padding: 20px;
  float: right;
  margin: 0 auto;
  margin-top: 200px;
}
.footer {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.9);
}